body{
  background-color: #13eef2;
  font-family: sans-serif;
}
h1{
  text-align: center;
  color: red;
  font-style: normal;
  text-shadow: 3px 4px 1px blue;
}
h2{
  text-align: center;
color: blue;
}
.projects{
  color: white;
  background-color: grey;
  padding: 12px;
  border-radius: 8px 8px 8px 8px;
}
.about{
  color:white;
  background-color: grey;
  padding:10px;
  border-radius: 8px 8px 8px 8px;
  margin-top: 40px;
}
.why{
  color: white;
  background-color: grey;
  padding: 10px;
  border-radius: 8px 8px 8px 8px;
  margin-top: 40px;
}
.hobbies{
  color: white;
  background-color: grey;
  padding: 10px;
  border-radius: 8px 8px 8px 8px;
  margin-top: 40px;
}
.skills{
  color: white;
  background-color: grey;
  padding: 10px;
  border-radius: 8px 8px 8px 8px;
  margin-top: 40px;
}
